<div class="carousel carousel-slider">
    <a class="carousel-item"><img id="imgHeight" src="/static/img/pic1.png"></a>
    <a class="carousel-item"><img src="/static/img/pic2.png"></a>
    <a class="carousel-item"><img src="/static/img/pic3.png"></a>
</div>