<div class="fixed-action-btn">
    {{#if mkActive}}
        <a class="btn-floating btn-large waves-effect waves-light" href="/contact-us"><i class="fa fa-envelope-o"></i></a>
    {{else}}
        <a class="btn-floating btn-large waves-effect waves-light" href="/en/contact-us"><i class="fa fa-envelope-o"></i></a>
    {{/if}}
</div>