<footer class="page-footer #eeeeee grey lighten-2">
    <div class="container marketing-companies">
        <a href="http://venito.mk/">
            <img style="vertical-align: middle" src="/static/img/VenitoKomerc.png">
        </a>
        <a href="http://www.fitr.mk/">
            <img style="vertical-align: middle" src="/static/img/FondZaInovacii.png">
        </a>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p style="vertical-align: middle; margin: 0">{{footerText}}</p>
        </div>
    </div>
</footer>