<footer class="page-footer #eeeeee grey lighten-2">
    <div class="footer-copyright">
        <div class="container">
            <a href="http://www.fitr.mk/" class="brand-logo right">
                <img style="vertical-align: middle" src="/static/img/FondZaInovacii.png">
            </a>
            <p style="vertical-align: middle">{{footerText}}</p>
        </div>
    </div>
</footer>