<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="getbike,pameten,tocak,pameten tocak,getbike.mk">
    <meta name="description" content="Electric bicycle with proactive filters GET-Bike">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <title>{{title}}</title>
</head>
<body>
{{> _floating-btn}}
{{> _header_en}}
{{#if mainPage}}
    {{> _carousel}}
{{/if}}
<main>
    {{> _msg}}
    {{{body}}}
</main>
{{> _footer}}

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        const documentWidth = $(document).width();
        $(document).ready(function () {
            {{#if mainPage}}
                $('.carousel.carousel-slider').carousel({
                    fullWidth: true
                }).height((2160 * documentWidth) / 3840);
            {{/if}}
        });
        $('.sidenav').sidenav();
        $('.parallax').parallax();
        $('.slider').slider({
            indicators: false
        });
        $('.tooltipped').tooltip();
        $('.materialboxed').materialbox();
        $('.collapsible').collapsible();
        $('input#input_text, textarea#textarea1').characterCounter();
    });
</script>
</body>
</html>