<div class="teamMain">
    <div class="container">
        <h1>ГЕТ Тим</h1>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/ToskoRistov.jpg">
                        <span class="card-title">Тошко Ристов</span>
                    </div>
                    <div class="card-content">
                        <p>Сопственик на Венито Комерц</p>
                    </div>
                    <div class="card-action">
                        <p>Дип. маш. инж. при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/IleMircheski.jpg">
                        <span class="card-title">Иле Мирчески</span>
                    </div>
                    <div class="card-content">
                        <p>Тим лидер</p>
                    </div>
                    <div class="card-action">
                        <p>Доцент при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/InaKrstevska.jpg">
                        <span class="card-title">Ина Крстевска</span>
                    </div>
                    <div class="card-content">
                        <p>Мехатроника</p>
                    </div>
                    <div class="card-action">
                        <p>Дип. маш. инж. при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/FilipPoposki.jpg">
                        <span class="card-title">Филип Попоски</span>
                    </div>
                    <div class="card-content">
                        <p>Енергетика, екологија, механика</p>
                    </div>
                    <div class="card-action">
                        <p>Студент при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/MartinSpasovski.jpg">
                        <span class="card-title">Мартин Спасовски</span>
                    </div>
                    <div class="card-content">
                        <p>Автоматизација, електроника</p>
                    </div>
                    <div class="card-action">
                        <p>Студент при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/AleksandarJankovik.jpg">
                        <span class="card-title">Александар Јанковиќ</span>
                    </div>
                    <div class="card-content">
                        <p>Индустриски, графички дизајн и анимација</p>
                    </div>
                    <div class="card-action">
                        <p>Дип. маш. инж. при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/IgorDzambaski.jpg">
                        <span class="card-title">Игор Џамбаски</span>
                    </div>
                    <div class="card-content">
                        <p>CAD модели, производни технологии</p>
                    </div>
                    <div class="card-action">
                        <p>Студент при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/MarkoNaseski.jpg">
                        <span class="card-title">Марко Насески</span>
                    </div>
                    <div class="card-content">
                        <p>CAD модели, термодинамика</p>
                    </div>
                    <div class="card-action">
                        <p>Студент при Машински Факултет Скопје</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
