<div class="ideaMain">
    <div class="parallax-container">
        <div class="parallax"><img src="/static/img/bikeTire.png"></div>
    </div>

    <div class="container">
        <h1>За идејата</h1>

        <p>ГЕТ е систем од велосипед, станица и желба за чист воздух. Приоритетна цел на ГЕТ тимот е промена на навиките на поединецот со своеволно придонесување во прочистувањето на воздухот и тоа токму со овој ГЕТ велосипед. Во тек е развивање на еден целосно нов пристап кон јавниот транспорт со што ги решаваме голем број на проблемите кај веќе постоечките системи. Основата на оваа иницијатива е на граѓаните да им се понуди нова услуга, која овозможува алтернативен начин за движење во градската средина. Со развивање на услугата, директно се развива и нов производ. Односно целта на овој проект е развивање на градски систем на електрични велосипеди кои ќе го прочистуваат воздухот со филтри, паралелно намалувајќи го бројот на автомобили во градскиот сообраќај. </p>

        <h4>Пролог</h4>
        <p>Главното прашање поставено од страна на ГЕТ тимот беше "Како заедно да го намалиме загадувањето на воздухот предизвикано од транспортот со моторни возила?" Електричен велосипед е совршено решениe </p>

        <ul class="collection">
            <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Без директни емисии</li>
            <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Флексибилност и здравствени бенефити на класичен велосипед</li>
            <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Минимален напор и голем домет при користење на електромоторот</li>
        </ul>

    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="/static/img/bikeHandle.png"></div>
    </div>

    <div class="container">
        <h4>Таргет група</h4>
        <p>Потрошувачите, односно корисниците на еден ваков систем кој не опфаќа сите нас, студентите, учениците, децата, пензионерите како и сите други граѓани или посетители на градот, на пример туристите.Се развива за секој поединец којшто сака да го искористи како превозно средство и притоа да помогне во прочистувањето на воздухот. Mесто на одвивање на ова дејство е во рамките на градот, со достапни станици за полнење на батеријата. Секој корисник ќе може да го:</p>
        <ul class="collection">
            <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Изнајми велосипедот</li>
            <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Користи велосипедот до посакуваното место</li>
            <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Паркира велосипедот, без да вози дополнително до постоечката станица</li>
        </ul>
        <p>Намалувањето на загадувањето кон кое придонесува еден ваков систем, а и физичката активност која е потребна за негово користење носат голем број на здравствени бенефити. Покрај здравствените бенефити кои ги нуди овој систем, не треба да се заборави и фактор дека се нуди еден целосно нов начин за движење низ урбаните средини. </p>
        <h4>Состојба на проектот</h4>
        <p>Проектот е во фаза на развивање. Во тек се одреден број на анализи и експерименти од страна на тимот со тоа што целиот систем поминува низ одредени промени и постепено го добива обликот којшто е замислен на почетокот. Како што веќе напоменавме, еден ваков проект е целосен новитет на овие простори, а не е ни голем бројот на вакви системи кои се успешно применети во светски рамки, па токму затоа портите за соработка се отворени за сите можни бизнис или технолошки партнери. </p>

        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/static/img/carouselPic1.jpg"> <!-- random image -->

                </li>
                <li>
                    <img src="/static/img/carouselPic2.jpg"> <!-- random image -->

                </li>
                <li>
                    <img src="/static/img/carouselPic3.jpg"> <!-- random image -->

                </li>
                <li>
                    <img src="/static/img/carouselPic4.jpg"> <!-- random image -->

                </li>
                <li>
                    <img src="/static/img/carouselPic5.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic6.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic7.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic8.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic9.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic10.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic11.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic12.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic13.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic14.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic15.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic16.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic17.jpg"> <!-- random image -->
                </li>
                <li>
                    <img src="/static/img/carouselPic18.jpg"> <!-- random image -->
                </li>
            </ul>
        </div>

    </div>
</div>