<div class="container">
    <p style="text-align: justify">Сообраќајот во рамки на нашата држава, а особено во големите градови како Скопје,
        Тетово, Битола и слично се повеќе се потпира на застарени возила кои значително влијаат врз загадувањето на
        воздухот. Загадувањето на воздухот е еден од основните проблеми на секој граѓанин. Автомобилите кои секојдневно
        придонесуваат во загадувањето на воздухот се избор на секој граѓанин и лоша навика која треба да се искорени.
        Инсипирани и револтирани од целата ситуација, одлучивме да ги искорениме овие лоши навики,затоа што секој од нас
        треба да знае дека:</p>
    <blockquote style="border-color: #00bf77">
        "Планетата земја не ја наследивме од нашите предци, туку ја позајмивме од нашите внуци"<br>
        <i>- Анонимен автор</i>
    </blockquote>
    <div class="responsive-video video-container">
        <video class="responsive-video" controls poster="/static/img/videoPoster.png">
            <source src="/static/videos/get_bike_mk.mp4" type="video/mp4">
        </video>
    </div>
</div>
