<div class="newsMain">
    <div class="container">
        <h1>Вести</h1>

        <div class="jumbotron">
            <h4>"ГЕТ" добитник на средства на јавниот повик "О2 предизвик"</h4>
            <p>О2 предизвикот кој беше отворен од 03.11.2017 до 30.11.2017 со цел поттикнување на иновативни идеи кои ќе го решаваат проблемот со загадувањето на воздухот во рамките на Република Македонија е тој кој даде можност за финансирање и изработка на ,,ГЕТ” системот. Низ целиот предизвик учество земаа 30 компании со свои проекти од различни области. Фазата на оценување и селекција започна, на 18 декември 2017г. од страна на комисија составена од: Јован Деспотовски, директор на фондот, Јани Макрадули, заменик министер за животна средина и просторно планирање, Јасмина Белчовска од УНДП, Ана Чоловиќ Лешовска од Еко-свест, Татјана Атанасовска – Гроздановска од 02 Коалиција, како и две стручни лица од областа на техничкото решение и деловните планови. Нашиот предлог проект ја помина првичната селекција, а по јавната презентација на проектот, и официјално ги добивме бараните средства преку Фондот за иновации и технолошки развој, односно како едни од победниците на „О2 Предизвик“ нашиот проект беше подржан со 1,652,602 денари.</p>
            <div class="divider"></div>
            <p>За да ја видите презентацијата кликнете</p>
            <a class="btn btn-small waves-effect waves-light" target="_blank" href="https://youtu.be/BE31U_sTpZo?start=7634"><i class="fa fa-link"></i> Тука</a>

            <!--<a class="btn btn-small waves-effect waves-light">Слики</a>-->
        </div>

        <div class="jumbotron">
            <h4>Официјално доделување на грантот за "ГЕТ" системот во влада</h4>
            <p>Официјалното врачување на добиениот грант од Фондот за иновации и технолошки развој кој беше резултат на нашето учество во „О2 Предизвик“ , се одржа на 8 Фебруари 2018 во Владата на Република Македонија. На овој настан беа доделени грантови на вкупно 20 компании. На наше задоволство добивме покана од Владата на РМ, наш претставник да одржи говор. Во продолжение е транскриптот од говорот на нашиот претставник: "Почитуван премиере, почитуван вице-премиере, почитувани гости и претставници на медиумите. Чуствуваме голема одговорност и потреба да ја изразиме нашата благодарност, најпрвин на Фондот за иновации и технолошки развој и секако за Владата на Република Македонија. Без нивната подршка, реализацијата на нашиот проект би била речиси невозможна. Ви благодариме на изразената доверба. Денес сме тука да ве запознаеме со нашиот ГЕТ-велосипед (градски еко транспорт), проект кој е еден од добитниците на грант во рамките на „О2 предизвикот“ организиран од страна на Фондот за иновации и технолошки развој. Во кратки црти проектот предвидува креирање на градски систем со електрични велосипеди, кои во себе имаат вградено проактивни филтри. Ние, група студенти раководени од професор на Машински факултет – Скопје и со подршка од компанијата Венито Комерц – Кавадарци веќе започнавме со реализација на проектот ГЕТ-Велосипед. Продолжувајќи ја досегашната работа на ГЕТ тимот, нашите цели се, со помош на стекнатите средства од Фондот за иновации и технолошки развој, до крајот на годината да имаме целосно функционални протитипови на станицата и велосипедот. Како добитници на грант во рамките на „О2 предизвикот“ очигледно е дека системот треба да носи бројни бенефити за крајниот корисник, односно секој од нас граѓаните. Помеѓу најзначани бенефити кои неминовно мора да ги напоменеме се:</p>
            <ul class="collection">
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Прочистувањето на воздухот со помош на вградените филтри во велосипедите</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Намалување на бројот на возила во сообрајќајот</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Промена на навиките на граѓаните</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Овозможувње на нов начин за движење низ градовите во нашата држава</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Бројни здравствени бенефити кои се неминовна последица од користењето на ваквиот систем</li>
            </ul>
            <p>За крај би сакал во името на тимот и лично да Ви се заблагодариме за вашето внимание и уште еднаш да се заблагодариме за безрезервната подршка и доверба која ни ја изразивте."</p>
            <div class="divider"></div>
            <p>Одржаниот говор на нашиот претставник Филип Попоски може да го проследите на следниот линк</p>
            <a class="btn btn-small waves-effect waves-light" target="_blank" href="https://youtu.be/MwiWpDPhXhw"><i class="fa fa-link"></i> Тука</a>
            <br>
        </div>
    </div>
</div>