<div class="contactMain">
    <div class="container">
        <h1>Contact</h1>
        <form class="col s12" action="/en/contact-us" method="post">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="FirstName" id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="LastName" id="icon_prefix1" type="text" class="validate">
                    <label for="icon_prefix1">Last name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="Email" id="email" type="email" class="validate" required>
                    <label for="email">E-mail</label>
                    <span class="helper-text" data-error="Invalid" data-success="Correct"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m8">
                    <textarea id="textarea1" name="Message" maxlength="150" class="materialize-textarea" data-length="150"></textarea>
                    <label for="textarea1">Comment</label>
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <button class="btn btn-small" type="submit">Submit</button>
                </div>
            </div>
            <div class="row socialNetworks">
                <div class="col s6">
                    <a target="_blank" class="tooltipped" data-position="bottom" data-tooltip="fb/getvelosiped" href="https://www.facebook.com/getvelosiped" alt="https://www.facebook.com/getvelosiped"><i class="fa fa-facebook-official fa-3x"></i></a>
                    <a target="_blank" class="tooltipped" data-position="bottom" data-tooltip="ig/getvelosiped" href="https://www.instagram.com/getvelosiped/" alt="https://www.instagram.com/getvelosiped/"><i class="fa fa-instagram fa-3x"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>