<div class="container">
    <p style="text-align: justify">The traffic within our country, especially in the big cities like Skopje, Tetovo, Bitola and so on, relies mostly on old vehicles that significantly affect the air quality. Air pollution is one of the basic problems in every citizen. Cars that daily contribute to the air pollution are a choice of every citizen, and they are a bad habit that needs to be eradicated. Inspired and revolted by the whole situation, we decided to eradicate out these bad habits, because each and every one of us should know that:</p>
    <blockquote style="border-color: #00bf77">
        "We did not inherit the planet Earth from our ancestors, but we borrowed it from our grandchildren"<br>
        <i>- Unknown author</i>
    </blockquote>
</div>