<div class="newsMain">
    <div class="container">
        <h1>News</h1>

        <div class="jumbotron">
            <h4>"GET" winner of the public call "O2 Challenge"</h4>
            <p>"O2 Challenge", which opened from November 3, 2017 to November 30, 2017, in order to encourage innovative ideas that will solve the problem of air pollution within the Republic of Macedonia, is the one that gave the opportunity to finance and make the "GET" system. 30 companies took part in the challenge. The assessment and selection phase began on the 18th of December in 2017 by the Commission composed of: Jovan Despotovski- Fund Director, Jani Makraduli- Deputy Minister of Environment and Physical Planning, Jasmina Belchovska from UNDP, Ana Colovic Leshovska from Eco- conscience, Tatjana Atanasovska-Grozdanovska from the 02 Coalition, as well as two experts in the field of technical solution and business plans. Our project proposal passed the initial selection, and after the public presentation of the project, we officially received the requested funds through the Fund for Innovation and Technology Development, as one of the winners of "O2 Challenge" our project was supported with 1.652.602 MKD.</p>
            <div class="divider"></div>
            <p>To view the presentation click here</p>
            <a class="btn btn-small waves-effect waves-light" target="_blank" href="https://youtu.be/BE31U_sTpZo"><i class="fa fa-link"></i> here</a>

            <!--<a class="btn btn-small waves-effect waves-light">Слики</a>-->
        </div>

        <div class="jumbotron">
            <h4>Official handover of the grant for ,,GET” system in the Government of the Republic of Macedonia</h4>
            <p>The official handover of the received grant from the Fund for Innovations and Technology Development, which was a result from our participation in the “O2 Challenge” was held on the 8th of February in the Government of the Republic of Macedonia. At the event there were a total of 20 companies that received grants from the Fund. To our pleasure we received an invitation from the Government of the Republic of Macedonia for a representative of our choice to hold a speech at the ceremony. The following paragraph is a translated version from the speech of our representative: “Dear Prime Minister, dear Deputy Prime Minister, dear guests and representatives of the media. We feel an enormous responsibility and need to express our gratitude, primarily for the Fund for Innovations and Technology Development, and of course for the Government of the Republic of Macedonia. Without their support the realization of our project would be practically impossible. We thank you for the expressed faith. Today, we are here to introduce you to our GET-Bicycle ( original: Градски еко транспорт,translated: City eco transport), a project that is one of the winners of the “O2 Challenge” that was organized by the Fund for Inovation and Technology Development. In short, the project predicts the creation of a city transportation system with electric bicycles fitted with proactive air filters. We are a group of students lead by a professor from the Faculty of Mechanical Engineering of Skopje, and with the support of Venito Komerc from Kavadarci we have already started the development of the project GET-Bicycle. Following the already accomplished work of the GET-Team, our goals are, with the gained funds from the Fund of Innovation and Technology development, to the end of the year to have functional prototypes of the station and bicycle. As winners of the grant in the frame of “O2 Challenge” it is obvious that our system needs to bring numerous benefits for the end user, each and every one of us. Among the most important benefits are:</p>
            <ul class="collection">
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Cleaning the air with the integrated proactive filters in the bicycles</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Reducing the number of vehicles in traffic</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Changing the habits of the citizens</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Bringing a new method for transportation through the cities in our country</li>
                <li class="collection-item"><i style="color: #00bf77;" class="fa fa-check" aria-hidden="true"></i> Numerous health benefits that are an unavoidable consequence from using this system</li>
            </ul>
            <p>For the end, I would like, in the name of the team and personally to thank you for your attention and once again thank you for the unreserved support and trust you have expressed in us”.</p>
            <div class="divider"></div>
            <p>The original speech (in Macedonian) that our representative Filip Poposki gave can be seen via the link.</p>
            <a class="btn btn-small waves-effect waves-light" target="_blank" href="https://youtu.be/MwiWpDPhXhw"><i class="fa fa-link"></i> Here</a>
            <br>
        </div>
    </div>
</div>